@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

a[href] {
  color: #000;
}

.container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;

  .logo {
    margin: 70px;
    margin-right: 90px;
  }
}

.logo1 {
  margin-top: 50px;
  margin-left: 25px;
}

.logo2 {
  margin-left: 100px;
}

.logo3 {
  margin-left: 90rem;
  margin-bottom: 10rem;
}

.navbar {
  padding-top: auto;
  margin: 0;
  margin-left: 700px;
  font-size: 15px;

  .container {
    display: flex;
    align-items: center;
  }

  .nav-links {
    display: flex;
    margin-left: auto;
    list-style: none;
    position: absolute;
    z-index: 1;

    .nav-item {
      display: inline-block;
      padding: auto;
      margin-top: 20px;
      text-decoration: none;
      transition: transform 0.3s;
      margin-left: 15px;

      a {
        color: white !important;
        text-decoration: none;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.top-section {
  position: relative;
  background: radial-gradient(ellipse at center,
      rgba(127, 0, 173, 0.6) 0%,
      rgba(0, 0, 0, 0.8) 60%,
      rgba(0, 0, 0, 1) 90%),
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/31787/stars.jpg);

  background-size: cover;

  .wave-container {
    position: absolute;
    bottom: -40%;
    z-index: 0;
    width: 100%;
  }
}

.hero {
  padding-top: 100px;
  padding-bottom: 100px;

  .container {
    display: flex;
    align-items: center;
  }

  .text-wrapper {
    width: 50%;

    &.w-full {
      width: 100%;
    }

    .title1 {
      font-size: 45px;
      margin-top: 0;
      margin-bottom: 10px;
      margin-left: 12px;
      color: white;
    }

    .title2 {
      font-size: 30px;
      margin-top: 0;
      margin-bottom: 10px;
      margin-top: 0;
      margin-left: 15px;
      color: goldenrod;
    }

    .title {
      color: white;
      font-size: 25px;
      margin-top: 0;
      margin-bottom: 10px;
      margin-top: 100px;
      margin-left: 12px;
      margin-right: 150px;
      text-align: justify;
    }

    .description {
      font-size: 18px;
      line-height: 40px;
      text-align: justify;
      margin-left: 12px;
      color: white;
      margin-top: 2px;
    }

    .links {
      display: flex;
      padding-bottom: 3.5rem;

      .cta {
        padding: 15px 45px;
        background-color: whitesmoke;
        color: black;
        text-decoration: none;
        border-radius: 50px;
        transition: transform 0.3s;
        margin-left: 15px;
        font-size: 20px;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.img-wrapper {
  position: relative;
  background-color: #2c2c3b;

  .intro-container {
    position: relative;
    z-index: 10;
    display: inline-flex;
  }
}

main {
  max-width: 75vw;
  margin: 0 auto;

  .intro-h12 {
    display: flex;
    column-gap: 3.5rem;
  }

  .intro1 {
    font-size: 55px;
    color: goldenrod;
  }

  .introp1 {
    font-size: 30px;
    color: whitesmoke;
    text-align: justify;
    margin-bottom: 50px;
  }

  .intro2 {
    font-size: 55px;
    color: goldenrod;
  }

  .introp2 {
    font-size: 30px;
    color: whitesmoke;
    text-align: justify;
  }

  .intro3 {
    font-size: 55px;
    color: goldenrod;
  }

  .introp3 {
    font-size: 30px;
    color: whitesmoke;
    text-align: justify;
  }
}

.img2-wrapper {
  position: relative;
  background-color: #5000ca;
  margin-top: 8rem;


  .wave2-container {
    position: absolute;
    top: -35%;
    z-index: 0;
    width: 100%;
  }

  .ekosistem-container {
    position: relative;
    z-index: 10;
    display: inline-flex;
  }
}

.intro {
  position: relative;
  z-index: 1;
}


.ekosistem-container {
  font-size: 45px;
  color: gold;
  padding: auto;

  .ekosistem-desc {
    text-align: center;
    margin-left: 50rem;
    margin-top: auto;
  }

  .logo-eko {
    margin-right: 100rem;
  }
}

body {
  z-index: -5;
  color: white;
  font-family: 'Monoton', monospace;
  font-size: 2em;
  background-color: #2c2c3b;
}

#overlay {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  text-align: center;
}

#layer-0 {
  background: rgba(92, 71, 255, 0);
  background: -moz-linear-gradient(top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 25%,
      rgba(255, 71, 255, 1) 100%);
  background: -webkit-gradient(left top,
      left bottom,
      color-stop(0%, rgba(92, 71, 255, 0)),
      color-stop(25%, rgba(0, 0, 0, 1)),
      color-stop(100%, rgba(255, 71, 255, 1)));
}

#layer-1 {
  background: rgba(92, 71, 255, 1);
  background: -moz-linear-gradient(45deg,
      rgba(92, 71, 255, 1) 0%,
      rgba(92, 71, 255, 0) 50%,
      rgba(92, 71, 255, 0) 100%);
  background: -webkit-gradient(left bottom,
      right top,
      color-stop(0%, rgba(92, 71, 255, 1)),
      color-stop(50%, rgba(92, 71, 255, 0)),
      color-stop(100%, rgba(92, 71, 255, 0)));
  background: -webkit-linear-gradient(45deg,
      rgba(92, 71, 255, 1) 0%,
      rgba(92, 71, 255, 0) 50%,
      rgba(92, 71, 255, 0) 100%);
  background: -o-linear-gradient(45deg,
      rgba(92, 71, 255, 1) 0%,
      rgba(92, 71, 255, 0) 50%,
      rgba(92, 71, 255, 0) 100%);
  background: -ms-linear-gradient(45deg,
      rgba(92, 71, 255, 1) 0%,
      rgba(92, 71, 255, 0) 50%,
      rgba(92, 71, 255, 0) 100%);
  background: linear-gradient(45deg,
      rgba(92, 71, 255, 1) 0%,
      rgba(92, 71, 255, 0) 50%,
      rgba(92, 71, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c47ff', endColorstr='#5c47ff', GradientType=1);
  height: inherit;
  width: inherit;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -5;
}

#layer-2 {
  background: rgba(92, 71, 255, 0);
  background: -moz-linear-gradient(-45deg,
      rgba(92, 71, 255, 0) 0%,
      rgba(92, 71, 255, 0) 50%,
      rgba(92, 71, 255, 1) 100%);
  background: -webkit-gradient(left top,
      right bottom,
      color-stop(0%, rgba(92, 71, 255, 0)),
      color-stop(50%, rgba(92, 71, 255, 0)),
      color-stop(100%, rgba(92, 71, 255, 1)));
  background: -webkit-linear-gradient(-45deg,
      rgba(92, 71, 255, 0) 0%,
      rgba(92, 71, 255, 0) 50%,
      rgba(92, 71, 255, 1) 100%);
  background: -o-linear-gradient(-45deg,
      rgba(92, 71, 255, 0) 0%,
      rgba(92, 71, 255, 0) 50%,
      rgba(92, 71, 255, 1) 100%);
  background: -ms-linear-gradient(-45deg,
      rgba(92, 71, 255, 0) 0%,
      rgba(92, 71, 255, 0) 50%,
      rgba(92, 71, 255, 1) 100%);
  background: linear-gradient(135deg,
      rgba(92, 71, 255, 0) 0%,
      rgba(92, 71, 255, 0) 50%,
      rgba(92, 71, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c47ff', endColorstr='#5c47ff', GradientType=1);
  height: inherit;
  width: inherit;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -5;
}

#layer-corner {
  background: rgba(71, 255, 203, 1);
  background: -moz-linear-gradient(top,
      rgba(71, 255, 203, 1) 0%,
      rgba(96, 130, 223, 0) 54%,
      rgba(117, 24, 240, 0) 100%);
  background: -webkit-gradient(left top,
      left bottom,
      color-stop(0%, rgba(71, 255, 203, 1)),
      color-stop(54%, rgba(96, 130, 223, 0)),
      color-stop(100%, rgba(117, 24, 240, 0)));
  background: -webkit-linear-gradient(top,
      rgba(71, 255, 203, 1) 0%,
      rgba(96, 130, 223, 0) 54%,
      rgba(117, 24, 240, 0) 100%);
  background: -o-linear-gradient(top,
      rgba(71, 255, 203, 1) 0%,
      rgba(96, 130, 223, 0) 54%,
      rgba(117, 24, 240, 0) 100%);
  background: -ms-linear-gradient(top,
      rgba(71, 255, 203, 1) 0%,
      rgba(96, 130, 223, 0) 54%,
      rgba(117, 24, 240, 0) 100%);
  background: linear-gradient(to bottom,
      rgba(71, 255, 203, 1) 0%,
      rgba(96, 130, 223, 0) 54%,
      rgba(117, 24, 240, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47ffcb', endColorstr='#7518f0', GradientType=0);
  height: inherit;
  width: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -5;
  animation: layercorneranim 2.5s ease-in-out infinite alternate;
}

#hey {
  width: 100%;
  background-color: #011;
  position: absolute;
  bottom: 253px;
  right: 0;
  left: 0;
  margin: auto;
  z-index: -10;
  transform: perspective(200px);
}

#layer-up {
  background: rgba(71, 255, 203, 0);
  background: -moz-linear-gradient(top,
      rgba(71, 255, 203, 0) 0%,
      rgba(71, 255, 203, 0) 50%,
      rgba(71, 255, 203, 1) 100%);
  background: -webkit-gradient(left top,
      left bottom,
      color-stop(0%, rgba(71, 255, 203, 0)),
      color-stop(50%, rgba(71, 255, 203, 0)),
      color-stop(100%, rgba(71, 255, 203, 1)));
  background: -webkit-linear-gradient(top,
      rgba(71, 255, 203, 0) 0%,
      rgba(71, 255, 203, 0) 54%,
      rgba(71, 255, 203, 1) 100%);
  background: -o-linear-gradient(top,
      rgba(71, 255, 203, 0) 0%,
      rgba(71, 255, 203, 0) 50%,
      rgba(71, 255, 203, 1) 100%);
  background: -ms-linear-gradient(top,
      rgba(71, 255, 203, 0) 0%,
      rgba(71, 255, 203, 0) 50%,
      rgba(71, 255, 203, 1) 100%);
  background: linear-gradient(to bottom,
      rgba(71, 255, 203, 0) 0%,
      rgba(71, 255, 203, 0) 50%,
      rgba(71, 255, 203, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47ffcb', endColorstr='#47ffcb', GradientType=0);
  height: 300px;
  width: inherit;
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  z-index: -5;
  animation: layerupanim 2.5s ease-in-out infinite alternate;
}

#lines {
  background-size: 40px 40px;
  background-image: repeating-linear-gradient(0deg,
      #60dcd3,
      #60dcd3 2px,
      transparent 1px,
      transparent 40px),
    repeating-linear-gradient(-90deg,
      #60dcd3,
      #60dcd3 2px,
      transparent 2px,
      transparent 40px);
  height: 400px;
  width: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -4;
}

#mtn {
  background-color: purple;
  height: 300px;
  width: 1200px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -8;
  transform: perspective(600px);
}


@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff11a7,
      0 0 70px #ff11a7, 0 0 80px #ff11a7, 0 0 100px #ff11a7, 0 0 150px #ff1177;
  }

  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff11a7,
      0 0 35px #ff11a7, 0 0 40px #ff11a7, 0 0 50px #ff11a7, 0 0 75px #ff11a7;
  }
}

@keyframes layerupanim {
  from {
    height: 140px;
  }

  to {
    height: 155px;
  }
}

@keyframes layercorneranim {
  from {
    height: 400px;
  }

  to {
    height: 540px;
  }
}